@{
    ViewData["Title"] = "ImplementationSelfReflection";
}

<h2>IEX Trading Application</h2>
<h2>Implementation Details</h2>
<hr />

<div>
    <p>
        We have used https://api.iextrading.com/1.0/ref-data/symbols to fetch all the symbols associated with companies or the firms taking part in the trading system.
        Furthermore, https://api.iextrading.com/1.0/stock/market/batch?symbols={0}&types=quote is used to fetch details such as week52High, week52Low, latestPrice and other associated details which are used to calculate the top 5 stocks using below formula.
        <div>
            Deciding factor to pick top 5 otperforming stocks=(CurrentPrice - 52WeekLow)/(52WeekHigh - 52WeekLow).
            If above deciding factor is greater than 82% then we can deduce that the particular stock is outperforming comparatively.
            Else, if its under or equal to 41% we deduce that the associated stock is underperforming comparatively.
        </div>
    </p>
    <h2>Self Reflection</h2>
    <p>
        We have comprehensively learnt below from this assignment:
        <ul>
            <li>Typical usage of HTML, CSS and JavaScript</li>
            <li>Connection with databases using MVC</li>
            <li>We have gained understanding on typical POCO used to transfer data between various layers of application</li>
            <li>We have gained understanding on IEX trading website and other associated websites </li>
            <li>Subtle and typical understanding on stocks, trading and associated variables which play a vital role to decide the top stocks</li>
            <li>We have further investigated websites such as moneycontrol and investopedia to gain understanding of trading and stock holding</li>
        </ul>
    </p>
</div>